.info-end{
    cursor: pointer;
    margin-left: 4em;
    margin-top: 3em;

    
   border: none;
    background-color: #D9D9D9;

    border-radius: 7px;
    width: 17em;
    height: 2em;

    display: flex;
    flex-direction: column;

    box-shadow: 5px 5px 5px #adadad;
}   

.titulo-paga{
   margin-left: 10px;
}


.end, .cep {
    color: alpha($color: #5a5858);
    margin-left: 10px;  
}