*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Lacquer&family=Nosifer&display=swap');


.pagina-home {

    .barra{
        background-color: black;
        height: 5em;
    }

    .barra-pesquisa{
        margin-top:2em;
        margin-left: 40em;

        width: 15em;
        height: 1.5em;
        border-radius: 20px;
        border-color:white;
    }

    .faixa1{
        background-image: url("../../../public/images/Cópia\ de\ SMART\ WATCH.png");
        background-size:100% ;

        width: 100%;
        height: 60vh;
    }

    .text1{
        text-align: center;
        color:white;
        
        margin-left: 1em;
        font-size: 3em;
        width: 4em;

        font-family: 'Nosifer';
    }
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    .faixa2 {
        width: 100%;
        height: 39em;
    }


    .botao1 {
        background-color: black;
        text-align:center;
        color:white;

        width: 14em;
        height: 4em;
        border-radius: 5em ;
        position: absolute;
        left: 42.5%;
        top: 175%;
        border: none;
        cursor: pointer;
        
    }
    .botao1:hover{
     margin-top: -10px;
    }
    .card{
        flex-wrap: wrap;
        gap:74px;
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    
    .faixa3 {
        background-color:#E1E0E0 ;

        width: 100%;
        height: 43em;
        display: flex;
        flex-direction: row;
    }

    .text3 {
        width:15em;
        font-size:35px ;

        margin-left:5em;
        margin-top: 3em;
        font-family: 'Lacquer';
    }

    .grafite {
        width:100%;
        height: 38em;

        margin-left:3em;
        margin-top: 5em;
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    
    .faixa4 {
        height:39em;
        background-image: url("../../../public/images/Rectangle\ 10.png");
        background-size:100% ;
        width:84em;
        text-align: center;
    }

    .text4 {
        font-family: 'Changa';
        color:white;
    }

    .botao4 {
        width: 15em;
        height: 3.5em;

        border-radius:5em;
        border:white;
        text-align:center;
        margin-top:35em;
        font-family: 'Changa';
    }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.faixa5{
    width:100%;
    height: 25em;
}

.titulo5{
    margin-top:26px;
    margin-left:2em;
    font-family:'Nosifer';
    font-size:40px;
}

.faixa6 {
    width:100%;
    height: 17em;
    background-color:#A6A6A6;

    display:flex;
    flex-direction:row;
}

.botaoMarcas{
    background-color:black;
    border-radius: 50%;
    border: none;

    justify-content:center;
    width:13em;
    height:12em;

    margin: 30px;
    margin-left:2em;
}
}