*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Lacquer&family=Nosifer&display=swap');


.pagina-home {

    .barra{
        background-color: black;
        height: 5em;
    }
    .barra-pesquisa{
        margin-top:2em;
        margin-left: 40em;

        width: 15em;
        height: 1.5em;
        border-radius: 20px;
        border-color:white;
    }
    .faixa1{
        background-image: url("../../../public/images/Cópia\ de\ SMART\ WATCH.png");
        background-size:100% ;
        background-repeat: 100%;

        width: 100%;
        height: 68vh;
    }
    .text1{
        text-align: center;
        color:white;
        cursor:context-menu;
        margin-left: 1em;
        font-size: 4em;
        width: 8em;

        font-family: 'Nosifer';
    }
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    .faixa2 {
        width: 100%;
        height: 22em;
    }
    .botao1 {
        background-color: black;
        text-align:center;
        color:white;

        width: 14em;
        height: 4em;
        border-radius: 5em ;
        position: absolute;
        left: 42.5%;
        margin-top: 8%;
        border: none;
        cursor: pointer;
    }
    .botao1:hover{
        margin-top: 1px;
    }
    .card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:74px;
        margin-top: 8em;
    }
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    .faixa3 {
        background-color:#E1E0E0 ;

        width: 100%;
        height: 55em;
        display: flex;
        flex-direction: row;
    }
    .text3 {
        width:15em;
        font-size:35px ;

        margin-left:5em;
        margin-top: 3em;
        font-family: 'Lacquer';
    }
    .grafite {
        width:100%;
        height: 38em;

        margin-left:3em;
        margin-top: 5em;
    }
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    
   .faixa4{
    background-image: url("../../../public/images/Rectangle\ 10.png");
    background-size:100% ;
    width:84em;
    height: 60em;
    text-align: center;
    width: 100%;
   }


    .text4 {
        font-family: 'Changa';
        color:white;
        
    }
    .botao4 {
        width: 15em;
        height: 3.5em;
        cursor: pointer;

        border-radius:5em;
        border:white;
        text-align:center;
        margin-top:50em;
        font-family: 'Changa';
    }

    .botao4:hover{    
        margin-top: 655px; 
    }
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
   
    .faixa5{
        width:100%;
        height: 32em;

        display: flex;
        flex-direction: row;

    }  
    .titulo5{
        margin-top:26px;
        margin-left:2em;
        font-family:'Nosifer';
        font-size:40px;
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    .faixa6 {
        width:100%;
        height: 17em;
        background-color:#A6A6A6;
        display:flex;
        flex-direction:row;
        
        
    }
    .botaoMarcas{
        background-color:black;
        border-radius: 50%;
        border: none;
    
        justify-content:center;
        width:13em;
        height:12em;
        
    
        margin-top: 4em;
        margin-left: 8em;
        
        cursor: pointer;

    }

    .botaoMarcas:hover{
        margin-top: 8px;
        height: 160px;
        
        width: 192px;
    }

    .img10{

        height: 10em;
    }

    .img11{

        height: 10em;
        width: 10em;
    }

    .img12{

        height: 7em;
        width: 7em;
    }

    .img13{

        height: 8em;
        width: 8em;
    }
}

