.page-cons-adm-pedido{
    display: flex;
    flex-direction: row;

    table{
        width: 1070px;
    }


    td{
        background-color: #dadada;
        width: 60px;
    }
    
    th{
        width: 20px;
    }
    

    .ponta-direita{
        border-radius: 15px 0px 0px 0px;
      
        
    }

    .ponta-esquerda{
        border-radius:0px 15px 0px 0px;
        
    }



    .icon-pedido{
        width: 25px;
        margin-top: 2px;   
        margin-left: 14px;

        cursor: pointer;
        
     }

     .tr-ped{
        width: 856px;
     }

     .tbody-pedido{
        height: 500px;
     }

     .bot-fitrar-status{
        width: 25px;
        height: 25px;
     }


     .search-box-2{
        position: absolute;
        left: 10%;
        top: 20px;
     
        background-color: rgb(255, 255, 255);
        
        height: 17px;
        padding: 10px;
        border-radius: 40px;
     }
     .search.bnt-2{
         display: flex;
         justify-content: center;
         align-items: center;
     }
     .search-txt-2{
         border: none;
         background: none;
         outline: none;
     
         font-size: 14px;
         line-height: 15px;
         float: right;
         text-align: center;
     
         width: 0px;
         padding: 0;
     
         color: rgb(0, 0, 0);
         
         transition: 1s;
         
     }
     .lupa{
       height: 20px;
     }
     .search-box-2:hover > .search-txt-2{
         width: 210px;
         padding: 0 6px;
     }

    
}