.listarend{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.tb-endereco{
}

.end{
    display: flex;
    flex-direction: row;
}

table {
    border-collapse: collapse;
    width: 70em;
    margin-left: 4.3em;
    margin-top: 1em;
}

tbody {
    display:block;
    height:600px;
    overflow:auto;

}

thead, tbody tr {
    display:table;
    width:80%;
    table-layout:fixed;

    font-family: 'Changa';
}



th {
    padding: 15px;
    background-color: #CE3737;
    text-align: center;
    margin-left: 5em;

    font-family: 'Lacquer';
}

td {
    background-color: #979797;
    text-align: center;
    padding: 16px;
}


