.page-cons-adm-pedido{
    display: flex;
    flex-direction: row;

    td{
        background-color: #dadada;
    }

    .ponta-direita{
        border-radius: 15px 0px 0px 0px;;
        
    }

    .ponta-esquerda{
        border-radius:0px 15px 0px 0px;;
        
    }
}