.page-cons-adm-pedido{
    display: flex;
    flex-direction: row;

    td{
        background-color: #dadada;
    }

    .ponta-direita{
        border-radius: 15px 0px 0px 0px;;
        
    }

    .ponta-esquerda{
        border-radius:0px 15px 0px 0px;;
        
    }

    .input-status{
        background-color: #dadada;
        border: none;
        height: 4.7em;
        width: 14em;
       
    }

    .input-status:hover{
        background-color: #fc9191;
    }
}