*{
    margin: 0;
    padding:0;
}
.comp-rodape {
    color: white;
    background-color: black;
    height: 50vh;
    display:flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    
}

.redes-sociais{
    width: 45px;
    height:45px ;
    margin-top: 1em;
}

.icones-sociais{
    display: flex;
    flex-direction: column;
}


