@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Lacquer&family=Nosifer&display=swap');

.page-listaProd {
        margin: 0%;
        

    .barra-lateral{
        width: 15em;
        height: 100vh;
        background-image: linear-gradient(to bottom,black,#EB1C1C);

        display: flex;
        flex-direction: column;

    }

    botton{
        color: white;
        margin: 18px;
        font-family: 'Changa';
        font-size: 21px;
    }

    .caixa-pesquisa{
        margin-top: 1.5em;
        margin-left: 150px;

        width:18em;
        height:2em;
        border-radius:5em;
    }

    .iconPesq {
        margin-left:5px;
        
    }

    table {
        border-collapse: collapse;

        margin-left: 6em;
        margin-top: 1em;
    }

    tbody {
       
        height:500px;
        overflow:auto;

    }

    table{
        width: 1000px;
        margin-left: 150px;
    }
    
    

    th {
        padding: 15px;
        background-color: #EB1C1C;
        text-align: center;
        margin-left: 5em;

        font-family: 'Lacquer';
}

    td {
        background-color: #dadada;
        text-align: center;
        padding: 16px;
    }

    .part-table {
        display: flex;
        flex-direction: row;
        
    }

    .iconTable {
        margin-right:17px ;
    }

    .ponta-direita{
        border-radius: 15px 0px 0px 0px;;
        
    }

    .ponta-esquerda{
        border-radius:0px 15px 0px 0px;;
        
    }
    
}