*{
    padding: 0;
    margin: 0;
}
.imagem{
    
    width: 85.3em;
    height: 34.8em;
}
.login{
    display: flex;
    flex-direction: column;
    background-color: white;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 150px;
    left: 18em;
    width: 50em;
    height: 25em;
}

.titulo-lg-user{
    text-align: center;
    font-family: 'Nosifer';
    font-size: 35px;
  
    margin-top: 40px;
}
.dig{

    margin-left: 85px;
    margin-top: 30px;
    font-family: inter;   
    font-size: 15px;
   
}
.e-mail{
    display: flex;
    flex-direction: column;
    text-align: start;
    border-radius: 15px;
    font-family: inter;
    font-size: 20px;

    border: 3px;
    border-color: #E3DFDF;
    background-color: #E3DFDF;

    height: 33px;
    width: 30em;
    margin-top: 24px;
    padding-left: 20px;

    box-shadow: 3px 6px rgb(173, 165, 165);
    outline: 0;
}

.button{
    margin-left: 25em;
    margin-top: 20px;
    height: 2.5em;
    width: 10em;

    cursor: pointer;
    animation: infinite;
    
    background-color: #F21616;
    border-color: #F21616;
    border-radius: 18px ;
    border:none;
    color: white;
    
}
.button:hover{
    transform: scale(1.1);
}
.reg{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(71, 70, 69);
}
.junt{
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 335px;
    left: 330px;    
}
.junt:hover{
    transform: scale(1.1);
}
