*{
    margin: 0;
    padding: 0;
}
.container-1{
    display: flex;
    
}
.informacoes-pedidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.titulo{
    margin: 0;
    font-family: 'nosifer';

    margin-top: 30px;
    margin-right: 550px;


}
.ppsd{
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #CE3737;
    border-radius: 10px;

    width: 84%;
    height: 35px;

    font-size: 14px;
    border:none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.container-pedidos{
    overflow-y: scroll;
    height: 500px;
    
}


.pedidos-usuario{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #E4E1E1;
    border-radius: 10px;

    height: 68px;
    width: 930px;

    font-size: 10px;
    margin-top: 15px;
    box-shadow: 5px 5px 5px #adadad;

}
