.dados{
    display: flex;
    flex-direction: column;
}

.faixa-dados{
    display: flex;
    flex-direction: row;
}



.seus-dados{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #D9D9D9;
    
    height: 85vh;
    width: 60em;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    padding:2em;
}


.dados-nome{
    margin-top: 25px;
    
    
    
}


.dados-email{
    margin-top: 25px;

}



.dados-cpf{
    margin-top: 25px;


}


.dados-endereco{
    margin-top: 25px;


}


.dados-cep{
    margin-top: 25px;


}