@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Lacquer&family=Nosifer&display=swap');

*{
    margin: 0;
    padding: 0;
}
.vitrine{
    display: flex;
    
   
}

.page-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(179.93deg, #EB1C1C 0.06%, rgba(145, 141, 141, 0.76) 57.28%);
    min-height: 90vh;
    min-width: 20%;
}
.titulo-1{
    font-size: 50px;
    font-family: 'Nosifer';
}
.marcas-1{
    font-size: 25px;
    font-family: 'changa';
    margin-top: 50px;
}
.check{
     
    font-size: 25px;
    margin-top: 20px;
}


/////////////////////////////////////////



.cardes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:74px;
    margin-left: 70px;
    width: 16;


}
