@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Lacquer&family=Nosifer&display=swap');

*{
    margin: 0;
    padding: 0;
}
.vitrine{
    display: flex;
   
}

.page-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(179.93deg, #EB1C1C 0.06%, rgba(145, 141, 141, 0.76) 57.28%);
    min-height: 90vh;
    min-width: 20%;
}
.titulo-1{
    font-size: 50px;
    font-family: 'Nosifer';
}
.marcas-1{
    font-size: 25px;
    font-family: 'changa';
    margin-top: 50px;
}
.check{
     
    font-size: 25px;
    margin-top: 20px;
}


/////////////////////////////////////////

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 50px;
    width:230px;
    padding: 20px;
   
}
.container .cards-2{
    position: relative;
    padding: 10px;
    width: 150px;
    background-color: #ffff;
    margin: 20px;
    border: 1px solid black;
    border-radius: 30px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    box-shadow: 5px 5px 5px   rgb(153, 148, 148);
    cursor: pointer;
  
}
.container .cards-2:hover{
    background-color: #8990eb;
    color: #ffff;
    margin-top: -5px;
    box-shadow: 2px 20px 25px #8990eb;
}

.cards-2{
    display: flex;
    justify-content: center;
    min-height: 10vh;
    height: 200px;
    flex-wrap: wrap; 
}
.imagem-tenis{
    height: 100px;
}
.nome-tenis{
    font-size: 15px;
}
.preço-tenis{
    font-size: 15px;
}