@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Lacquer&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Lacquer&family=Nosifer&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Changa:wght@300&family=Lacquer&family=Nosifer&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Changa:wght@300&family=Lacquer&family=Nosifer&family=Rye&display=swap');

.page-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, #c74444, #da2626, #5d737a, #000000);
    height: 100vh;
    width: 250px;

    background-size: 400% 200%;
    animation: colors 2s ease infinite;
;
}





@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.titulo-1{
    font-size: 30px;
    font-family: 'Bungee Shade';
    
}
.marcas-1{
    font-size: 25px;
    font-family: 'changa';
    margin-top: 30px;

    cursor: pointer;
}

.marcas-1:hover{
    font-size: 28px;
    color:antiquewhite;
}


.check{
     
    font-size: 20px;
    margin-top: 20px;

    color: aliceblue;
    font-family: 'Bungee Shade';
    cursor: pointer;
}


.generos-route{
    font-size: 20px;
    margin-top: 20px;

    color: aliceblue;
    font-family: 'Bungee Shade';
    cursor: pointer;
}

/////////////////////////////////////////

.cardes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:74px;
    margin-left: 70px;


}