@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Lacquer&family=Nosifer&display=swap');


.page-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(179.93deg, #EB1C1C 0.06%, rgba(145, 141, 141, 0.76) 57.28%);
    height: 100vh;
    width: 200%;
}
.titulo-1{
    font-size: 30px;
    
}
.marcas-1{
    font-size: 25px;
    font-family: 'changa';
    margin-top: 30px;

    cursor: pointer;
}

.marcas-1:hover{
    font-size: 28px;
    color:antiquewhite;
}


.check{
     
    font-size: 25px;
    margin-top: 20px;
}


/////////////////////////////////////////

.cardes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:74px;
    margin-left: 70px;


}