.page-pagamento{

    .display-pagamento{
        display: flex;
        flex-direction: row;
    }

    .titulo-pag{
        text-align: center;
        font-family: 'Nosifer';
        font-size: 30px;
        margin-top: 1em;

    }

    .info-end{
        margin-left: 4em;
        margin-top: 3em;

        border:solid 3px black;
      
        border-radius: 7px;
        width: 17em;
        height: 5em;
    }

    .info-cartão{
        display: flex;
        flex-direction: column;
        margin-left: 2.5em;
        margin-top: 3em;

        font-family: 'Changa';
        border-radius: 7px;
        border:solid 3px black;

       padding: 25px;
      width: 30em;
      height: 300px;
    }

    .info-pedido{
        margin-left: 3em;
        margin-top: 3em;

        border:solid 3px black;
        border-radius: 7px;

        padding: 25px;
      width: 15em;
      height: 120px;
    }

    .input-pag{
        border-radius: 4px;
        width: 220px;
        height: 30px;
        margin-right: 2em;
        border:solid 3px #D9D9D9;
        background-color: #D9D9D9;
    }
    .input-pag2{
        border-radius: 4px;
        width: 145px;
        height: 30px;

        
        border:solid 3px #D9D9D9;
        background-color: #D9D9D9;
    }

    .botao-pag{
            margin-top: 3em;
            margin-left: 538px;

            width:150px;
            height: 35px;
            
            cursor: pointer;
            animation: infinite;
            
            background-color: #F21616;
            border-color: #F21616;
            border-radius: 18px ;
            border:none;
            color: white;

            font-family: 'Changa';
    }
     
    .botao-pag:hover{
        background:transparent;
        color: rgb(255, 0, 0);
        transform: scale(1.3)rotate(360deg);
        box-shadow: 0 0 40px rgba(255, 0, 0, 0.64);
        cursor: context-menu;
        border: 2px solid rgb(255, 0, 0);
    }

    .Cred-input{
        display: flex;
    }

    .botao-pag-end{
        margin-top: 3em;
        margin-left: 2em;

        width:150px;
        height: 35px;
        
        cursor: pointer;
        animation: infinite;
        
        background-color: #F21616;
        border-color: #F21616;
        border-radius: 18px ;
        border:none;
        color: white;
        font-family: 'Changa';
    }

    .botao-pag-end:hover{
        background:transparent;
        color: rgb(255, 0, 0);
        transform: scale(1.3)rotate(360deg);
        box-shadow: 0 0 40px rgba(255, 0, 0, 0.64);
        cursor: context-menu;
        border: 2px solid rgb(255, 0, 0);
    }

    .botoens{
        display:flex;
        flex-direction: row;
    }

    .end{
        display: flex;
        flex-direction: column;
    }

    .informacoes-pedidos{
        margin-top: 5em;
        font-family: 'Changa';
    }

    .linha-01{
        border: 3px solid rgb(204, 200, 200);  
        width: 82vw;
        
      }
    
    .info-total{
        margin-left: 5em;
        border-color: black   ;
        background-color: #ffffff;

        font-family: 'Changa';
        border-radius: 7px;
        width: 11em;
        height: 3em;
        color: #df5656;
        font-size: 15px;

        margin-top:3.4em;
    }

    .linha-PF{
        margin-top: 2em;
        display: flex;
        flex-direction: row;
    }

    .linha-NC{
        margin-top: 2em;
        display: flex;
        flex-direction: row;
    }

    .Cred-input{
        margin-top: 1.5em;
        display: flex;
        flex-direction: row;
    }
}